@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=TASA+Explorer:wght@400..800&display=swap');

body {
    font-family: 'Rethink sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, #b48a60, #f2d0a7);
    color: #2c1b10;
}

.redes-sociales a:hover {
    color: #ffeaa7;
}

.bloque {
    flex: 1 1 30%;
    background: #fffaf2;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.bloque img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

.titulo-animado {
    animation: latidoColor 3s infinite alternate;
    text-align: center;
    margin-bottom: 20px;
}

.galeria {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.imagen.activa {
    display: block;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenedor-grid {
    display: grid;
    grid-template-areas:
        "encabezado"
        "zona-central"
        "pie";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.encabezado {
    grid-area: encabezado;
    width: 100%;
}

.zona-central {
    grid-area: zona-central;
    padding: 20px;
}

.pie {
    grid-area: pie;
    background-color: #2c1b10;
    color: #f2d0a7;
    text-align: center;
    padding: 12px;
}

.redes-sociales a {
    color: #f0b56c;
    text-decoration: none;
    margin: 0 10px;
}

.bloques-texto {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

@keyframes latidoColor {
    from {
        transform: scale(1);
        color: #2c1b10;
    }

    to {
        transform: scale(1.15);
        color: #a65e2e;
    }
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #a78b71;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #a65e2e;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d68648;
}